.login-page-wrapp {
  height: 100vh;
}

.login-form-wrap {
  width: 50%;
}

.login-form-wrap .form-card {
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

#nav-login .form-card {
  width: 500px;
  height: 463px;
}

.card-body .important:after {
  content: " *";
  color: red;
}

/* autocomplete */

.autocomplete-list {
  list-style: none;
  padding: unset;
  margin: unset;
}

.autocomplete-list li:hover {
  background: #e9f0f8;
}

.autocomplete-list li {
  border: 1px solid #ced4da;
  border-top: unset;
}

.autocomplete-list button {
  color: #495057;
  border: unset;
  background: unset;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.375rem 0.75rem;
}